[Unit]
Description=uWSGI instance to serve dashboard
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant/dashboard
ExecStart=/home/vagrant/dashboard/run.sh

[Install]
WantedBy=multi-user.target